.btn {
  padding: 16px 24px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0;
  font-size: 26px;
  line-height: 48px;
  display: inline-block;
  letter-spacing: -0.0025em;
  color: #192434;
  background-color: transparent;

  &.primary {
    border: 1px solid #30C3B1;
    background: #30C3B1;
    color: #fff;
  }
}

.banner {
  width: 100%;
  height: 600px;

  &__swiper {
    height: 100%;

    image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.orderTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--img {
      width: 56px;
      height: 56px;
      margin-bottom: 8px;
    }

    &--text {
      font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.tips {
  width: 526px;
  height: 128px;
  background: #F7F8F8;
  box-shadow: 0 10px 40px rgba(24, 44, 31, 0.1);
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;

  &__icon {
    width: 88px;
    height: 88px;
    background: #EFA310;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;

    &--img {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    font-size: 28px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.006em;
    color: #192434;
  }

  &__arrow {
    width:  48px;
    height: 48px;

    &--img {
      width: 48px;
      height: 48px;
    }
  }
}

.order {
  width: 700px;
  height: 344px;
  padding: 48px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(24, 44, 31, 0.1);
  border-radius: 40px;
  margin: 40px auto 0;
  position: relative;

  .callPhone {
    width: 48px;
    height: 48px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    background: #32D74B;
    top: 30px;
    right: 30px;

    &__img {
      width: 28px;
      height: 28px;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__preview {
    width: 120px;
    height: 160px;
    border-radius: 4px;
    overflow: hidden;

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--type {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: -0.011em;
      color: #192434;
      margin-bottom: 8px;
    }

    &--user {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
      margin-bottom: 8px;
    }

    &--address {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
      margin-bottom: 12px;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-left: 14px;
    }
  }
}

.form {
  width: 100%;

  &__item {
    .input {
      padding: 24px 48px;
      text-align: center;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 8px;
      height: auto;
      margin-top: 48px;
    }
  }
}

.wapper {
  height: 50%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
