.actions {
  width: 80%;
  margin: 40% auto 0;
}

.btn {
  margin: 0!important;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 32px 40px;
  box-shadow: 0 5px 20px rgba(63, 62, 62, 0.1);
  border-radius: 100px;
  margin-left: 24px;
  font-size: 38px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  background: #30C3B1;

  &.primary {
    background: #EFA310;
  }
}
