.quotation {
  padding: 48px 24px;
  height: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.quotation__info {
  padding: 48rpx;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin-bottom: 24px;
  border-radius: 20px;

  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__title {
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.65);
    }

    &__number {
      margin-top: 8px;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #000000;
    }
  }

  .actions {
    .btn {
      width: 206px;
      height: 80px;
      background: #30C3B1;
      box-sizing: border-box;
      border-radius: 8px;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.product {
  height: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    margin-bottom: 8px;
    flex-shrink: 0;
    padding: 0 48px;
  }

  &__name {
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    flex-shrink: 0;
    padding: 24px 48px 0;
    font-weight: bold;
  }

  &__list {
    height: 10%;
    flex-grow: 1;
    box-sizing: border-box;

    &--container {
      margin-top: 24px;

      &:hover {
        .product__list--content {
          height: auto;
        }
      }
    }

    &--content {
      height: 0;
      overflow: hidden;
      transition: all .3s;
    }
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: rgba(0, 0, 0, 0.65);
    padding: 24px 48px 0;

    &--name {
      flex-grow: 1;
    }

    &--price {
      flex-shrink: 0;
      margin: 0 24px;
    }
  }
}

.stepper {
  flex-shrink: 0;
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 7px;
  overflow: hidden;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__action {
    width: 48px;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0!important;
    outline: 0!important;
  }

  &__input {
    width: 56px;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    text-align: center;
  }
}

.footer {
  flex-shrink: 0;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;

  .price {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.005em;
      color: rgba(0, 0, 0, 0.45);
    }

    &__number {
      margin-left: 8px;
      font-size: 34px;
      line-height: 48px;
      letter-spacing: -0.013em;
      color: #30C3B1;
    }
  }

  .action {
    width: 280px;
    height: 80px;
    background: #30C3B1;
    border: 1px solid #30C3B1;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.0025em;
    color: #FFFFFF;
    margin: 0;
  }
}
