.search {
  width: 654px;
  height: 80px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 64px auto 48px;

  &__icon {
    width: 48px;
    height: 48px;
  }

  &__input {
    margin-left: 20px;
    width: 100%;

    &--plc {
      font-size: 26px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.2);
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.0287096);
  border-radius: 34px;
  width: 640px;
  height: 68px;
  margin: 24px auto 24px;
  padding: 4px;

  &__item {
    width: 160px;
    height: 56px;
    border-radius: 88px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--text {
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #A5A5A5;
    }

    &.actived {
      background: #FFFFFF;

      .tabs__item--text {
        color: #30C3B1;
      }
    }
  }
}

.orderList {
  flex-grow: 1;
  padding: 0 24px 24px;

  &__null {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 144px;

    &--img {
      width: 200px;
      height: 200px;
    }

    &--text {
      margin-top: 6px;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #A9B1BC;
    }
  }
}

.orderItem {
  padding: 48px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 24px;

  &__header {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
  }

  &__main {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .preview {
      width: 120px;
      height: 160px;
      flex-shrink: 0;
    }

    .info {
      margin-left: 48px;
      position: relative;
      width: 100%;

      &__item {
        font-size: 24px;
        line-height: 32px;
        color: #192434;
        margin-bottom: 8px;

        &:nth-child(2) {
          font-weight: bold;
          font-size: 30px;
          line-height: 48px;
          letter-spacing: -0.011em;
        }
      }

      .callPhone {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        background: #32D74B;

        &__img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &__footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.ordinary {
      justify-content: flex-end;
    }

    .status {
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.45);
    }

    .price {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.005em;
      color: rgba(0, 0, 0, 0.45);
      display: flex;
      justify-content: center;
      align-items: center;

      .enhance {
        font-weight: bold;
        font-size: 30px;
        line-height: 48px;
        display: flex;
        align-items: center;
        letter-spacing: -0.011em;
        color: #30C3B1;

      }
    }

    .btn {
      padding: 16px 24px;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -0.0025em;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid #000000;
      color: #192434;

      &.primary {
        border: 1px solid #30C3B1;
        color: #FFFFFF;
        background: #30C3B1;
      }

      & + .btn {
        margin-left: 32px;
      }
    }
  }
}
