.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  flex-shrink: 0;

  &__item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 20px 0;
    box-sizing: border-box;

    &--icon {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
    }
  }
}
