.content {
  padding: 24px;
}

.result,
.evaluate {
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  margin-bottom: 24px;

  image {
    width: 80px;
    height: 80px;
  }

  .price {
    margin-top: 24px;
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    letter-spacing: -0.013em;
    color: #30C3B1;
    text-align: center;
  }

  .message {
    font-size: 34px;
    line-height: 48px;
    letter-spacing: -0.013em;
    color: #192434;
    margin-top: 24px;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    padding-bottom: 24px;
  }
}

.order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;
  width: 100%;

  .preview {
    width: 120px;
    height: 120px;
  }

  &__content {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      color: #192434;
    }

    .time {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
      margin-top: 16px;
    }
  }
}

.details {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #30C3B1;
  border: 1px solid #30C3B1;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: bold;
  font-size: 26px;
  line-height: 48px;
  letter-spacing: -0.0025em;
  color: #FFFFFF;
}

.evaluate {
  &__title {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 48px;
  }

  &__content {
    margin-top: 36px;

    &--title {
      font-size: 24px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.65);
    }

    &--stars {
      margin-top: 24px;
      margin-bottom: 30px;

      image {
        width: 36px;
        height: 36px;
        margin-right: 36px;
      }
    }
  }
}
