.user {
  width: 654px;
  padding-top: 180px;
  padding-bottom: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    &--name {
      font-weight: bold;
      font-size: 60px;
      line-height: 84px;
      text-align: center;
      letter-spacing: -0.013em;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 8px;
    }

    &--role {
      font-size: 30px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.011em;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &__photo {
    width: 96px;
    height: 96px;

    &--img {
      width: 100%;
      height: 100%;
    }
  }
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 48px;

  &__receiving {
    width: 108px;
    height: 388px;
    background: rgba(48, 195, 177, 0.5);
    border-radius: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    box-sizing: border-box;

    &--img {
      width: 48px;
      height: 48px;
    }

    &--text {
      font-weight: bold;
      font-size: 34px;
      line-height: 48px;
      text-align: center;
      letter-spacing: 0.387em;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      writing-mode: tb-rl;
    }
  }

  &__info {
    padding: 48px;
    display: flex;
    flex-direction: column;
    background: #30C3B1;
    box-shadow: 0 10px 40px rgba(48, 195, 177, 0.25);
    border-radius: 20px 0 0 20px;
    flex-grow: 1;
    margin-left: 48px;

    &--title {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: -0.006em;
      color: #FFFFFF;
      margin-bottom: 8px;
    }

    &--content {
      font-weight: bold;
      font-size: 34px;
      line-height: 48px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      margin-bottom: 16px;
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        margin: 0;
        width: 196px;
        height: 80px;
        background: transparent;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          border: none;
        }

        font-weight: bold;
        font-size: 26px;
        line-height: 48px;
        letter-spacing: -0.0025em;
        color: #FFFFFF;
      }
    }
  }
}

.tool {
  margin-top: 40px;
  padding: 0 48px;
  box-sizing: border-box;
  width: 100%;

  &__title {
    &--text {
      font-weight: normal;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: -0.011em;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &__list {
    margin-top: 24px;

    &--item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #F7F8F8;
      box-shadow: 0 10px 40px rgba(24, 44, 31, 0.1);
      border-radius: 60px;
      padding: 20px 32px;
      box-sizing: border-box;
      margin-bottom: 48px;
      border: none;
      outline: none;
      overflow: hidden;

      &:after {
        border: none;
      }

      .icon {
        width: 88px;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EFA310;
        border-radius: 100%;
        overflow: hidden;

        &.blue {
          background: #2681FF;
        }

        &__img {
          width: 40px;
          height: 40px;
        }
      }

      .title {
        margin: 0 36px;
        flex-grow: 1;
        font-size: 28px;
        line-height: 48px;
        letter-spacing: -0.006em;
        color: #192434;
        text-align: left;
      }

      .arrowRight {
        width: 48px;
        height: 48px;
      }
    }
  }
}
