.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  border-bottom: solid var(--safe-area-inset-bottom) #fff;
  //padding-bottom: var(--safe-area-inset-bottom);
  padding-top: var(--safe-area-inset-top);
}

.status_bar {
  //height: calc(var(--status-bar-height) + 12rpx);
  height: calc(var(--status-bar-height));
  width: 100%;
  flex-shrink: 0;
  background-color: #fff;
}
