.banner {
  height: 600px;

  &__swiper {
    height: 100%;

    image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.wapper {
  flex-grow: 1;
}

.project {
  flex-grow: 1;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__category {
    display: flex;
    flex-direction: column;
    width: 216px;
    flex-shrink: 0;
    height: 100%;

    &--item {
      height: 80px;
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: -0.011em;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;

      &.actived {
        background-color: #fff;
      }
    }
  }

  &__list {
    height: 100%;
    background-color: #fff;

    &--title {
      width: 100%;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 10px;
    }

    &--content {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 12px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20rpx;
      width: 33.33%;

      .preview {
        width: 144px;
        height: 144px;
        margin-bottom: 20px;
      }

      .text {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.005em;
        color: #000000;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
