.bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./bg.png");
  background-position: left center;
  background-size: 50%;
  background-repeat: no-repeat;

  .entry {
    background: transparent;
    border: 0!important;
    outline: 0!important;
    box-shadow: none;
    height: 244px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;

    &:after {
      border: none;
    }

    .area {
      width: 244px;
      height: 244px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.87);
      box-shadow: 0px 0px 40px rgba(48, 195, 177, 0.18);
      border-radius: 100%;
      overflow: hidden;
      margin-right: 48px;

      image {
        width: 164px;
        height: 164px;
      }
    }

    text {
      font-weight: bold;
      font-size: 34px;
      line-height: 48px;
      letter-spacing: -0.013em;
      color: #3EBF59;
    }

    &:nth-child(1) {
      left: 206px;
      top: 60px;
    }

    &:nth-child(2) {
      left: 54px;
      top: 360px;
    }

    &:nth-child(3) {
      left: 236px;
      top: 640px;
    }

    &:nth-child(4) {
      left: 54px;
      top: 960px;
    }
  }

  .logo {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    image {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 16px;
    }
  }
}
