.settled {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    background: #fff;
    box-shadow: 0 20px 80px rgba(24, 44, 31, 0.1);
    border-radius: 60px;
    margin-bottom: 120px;

    .icon {
      width: 88px;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EFA310;
      border-radius: 100%;
      overflow: hidden;

      &.blue {
        background: #2681FF;
      }

      &__img {
        width: 40px;
        height: 40px;
      }
    }

    .text {
      flex-grow: 1;
      font-size: 28px;
      line-height: 48px;
      letter-spacing: -0.006em;
      color: #192434;
      display: block;
      margin: 0 20px;
    }

    .right {
      width: 48px;
      height: 48px;
    }
  }
}
