.details {
  padding: 32px;
}

.process {
  margin-bottom: 24px;
  padding: 48px;

  &__tips {
    width: 606px;
    height: 76px;
    background: #FDF1DB;
    border-radius: 10px;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: #F2994A;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }

  &__content {
    margin-top: 48px;
    display: flex;
    flex-direction: column;

    .node {
      padding-left: 56px;
      padding-bottom: 48px;
      border-left: 1px dashed #30C3B1;
      position: relative;
      color: rgba(0, 0, 0, 0.45);

      &:before {
        content: "✓";
        display: flex;
        justify-content: center;
        font-size: 20px;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: -20px;
        color: transparent;
        box-sizing: border-box;
        border: solid 8px #2681FF;;
        background-color: #fff;
      }

      &.complete {
        color: #000;

        &:before {
          border: none;
          color: #fff;
          background: #30C3B1;
        }
      }

      &.wait {
        &:before {
          border: solid 10px #2681FF;
          box-sizing: border-box;
        }
      }

      &:last-child {
        border-left: 0;
      }

      &__name {
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.011em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .time {
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 0.005em;
          color: rgba(0, 0, 0, 0.45);
        }
      }

      &__extra {
        margin-top: 20px;
        font-size: 26px;
        line-height: 48px;
        letter-spacing: -0.0025em;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 48px 48px 24px;
  background: #FFFFFF;
  border-radius: 20px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

.repair {
  margin-bottom: 24px;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;

    .icon {
      width: 64px;
      height: 64px;
      background: #30C3B1;
      border-radius: 100%;
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &__img {
        width: 48px;
        height: 48px;
      }
    }

    .text {
      margin-left: 24px;
      font-size: 26px;
      line-height: 48px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      letter-spacing: -0.0025em;
      color: #000000;
    }

    .phone {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.order {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: #000000;

    &--title {
      color: rgba(0, 0, 0, 0.65);
      flex-shrink: 0;
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;

      .copy {
        margin-left: 24px;
        color: #2681FF;
      }
    }
  }
}

.actions {
  padding: 24px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .btn {
    padding: 16px 24px;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.0025em;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #000000;
    color: #192434;
    margin: 0;

    &.primary {
      border: 1px solid #30C3B1;
      color: #FFFFFF;
      background: #30C3B1;
    }

    & + .btn {
      margin-left: 32px;
    }
  }
}

.quotation {
  margin-bottom: 24px;

  .repair__item {
    .icon {
      width: 80px;
      height: 80px;
    }
    image {
      width: 100%;
      height: 100%;
    }
  }
}

.images {
  margin-bottom: 24px;
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .order__item {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    image {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }
  }
}

.form {
  width: 100%;

  &__item {
    .input {
      padding: 24px 48px;
      text-align: center;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 8px;
      height: auto;
      margin-top: 48px;
    }
  }
}
