.addressList {
  flex-grow: 1;
  padding: 36px 24px;

  &__null {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 144px;

    &--img {
      width: 200px;
      height: 200px;
    }

    &--text {
      margin-top: 6px;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #A9B1BC;
    }
  }
}

.addressItem {
  padding: 48px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 24px;

  &__header {
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 16px;
  }

  &__main {
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: #000000;
    margin-bottom: 16px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      flex-grow: 1;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.45);
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.005em;
      color: #000000;

      .icon {
        width: 36px;
        height: 36px;
        margin-right: 16px;
      }

      & + .btn {
        margin-left: 32px;
      }
    }
  }
}

.actions {
  padding: 24px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;

  .btn {
    width: 100%;
    height: 80px;
    background: #30C3B1;
    border: 1px solid #30C3B1;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.0025em;
    color: #FFFFFF;
  }
}
