.bottomTabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &--img {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
    }

    &--text {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.005em;
      color: #30C3B1;
    }
  }
}
