.title {
  font-size: 26px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.0025em;
  color: #192434;
  margin-bottom: 168px;
  margin-top: 64px;

  image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 100%;
    overflow: hidden;
  }
}

.qrCode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  image {
    width: 500px;
    height: 500px;
    border-radius: 15px;
  }

  text {
    width: 100%;
    margin-top: 48px;
    font-size: 30px;
    line-height: 48px;
    color: #192434;
    text-align: center;
  }
}
