.list {
  padding: 0 24px;
  box-sizing: border-box;

  &__container {
    flex-shrink: 1;
    flex-grow: 1;
    height: 50%;
  }
}

.card {
  padding: 48px;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 20px;

  &__title {
    font-size: 26px;
    line-height: 48px;
    color: #192434;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 24px;
  }

  &__content {
    padding-top: 24px;

    .project {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      color: #192434;
    }

    .createAt,
    .expire {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
    }
  }
}
