.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  &__container {
    width: 80%;
    padding: 64px 48px;
    background: #FFFFFF;
    border-radius: 20px;
  }

  &__wapper {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    color: #353535;
  }

  &__content {
    margin-top: 64px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 64px;

    .btn {
      padding: 16px 64px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 8px;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: #000000;


      &.primary {
        background: #30C3B1;
        border: 1px solid #30C3B1;
        color: #fff;
      }
    }
  }
}
