.wapper {
  flex-grow: 1;
}

.user {
  height: 520px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 20px 20px;

  &__info {
    padding: 226px 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--photo {
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      border-radius: 100%;
      overflow: hidden;
    }

    &--name {
      display: flex;
      flex-direction: column;
      margin-left: 24px;
      flex-grow: 1;
      color: #fff;

      .sub {
        font-size: 26px;
        line-height: 48px;
        letter-spacing: -0.0025em;
        color: #FFFFFF;
        margin-top: 4px;
      }
    }

    &--actions {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        padding: 16px 40px;
        box-shadow: 0 5px 20px rgba(63, 62, 62, 0.1);
        border-radius: 100px;
        margin-left: 24px;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        background: #30C3B1;

        &.primary {
          background: #EFA310;
        }
      }
    }
  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;

    &--item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;

      .icon {
        width: 56px;
        height: 56px;
      }
    }
  }
}

.tool {
  padding: 48px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 40px;
  margin-top: 24px;
  box-sizing: border-box;

  &__container {
    padding: 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 48px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: none;

      &:after {
        border: none;
      }

      .icon {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .text {
        font-size: 26px;
        line-height: 48px;
        letter-spacing: -0.0025em;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
