.content {
  padding: 48px 24px;
  box-sizing: border-box;
}

.address {
  padding: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    background: #30C3B1;
    flex-shrink: 0;

    &--img {
      width: 48px;
      height: 48px;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: #30C3B1;
    margin-left: 24px;
  }

  &__next {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }
}

.project {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 24px;

  &__preview {
    width: 120px;
    height: 120px;
  }

  &__content {
    flex-grow: 1;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &--name {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: -0.011em;
      color: #192434;
      margin-bottom: 16px;
    }

    &--info {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
      margin-bottom: 16px;
    }

    &--price {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: -0.011em;
      color: #F76260;
    }
  }
}

.problem {
  background-color: #fff;
  margin-top: 24px;
  padding: 48px 48px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
  }

  &__upload {
    width: 132px;
    height: 132px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 48px;
      height: 48px;
    }
  }

  &__item {
    width: 25%;
    height: 132px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 132px;
      height: 132px;
    }
  }
}

.actions {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  .price {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;

    &__number {
      font-weight: bold;
      font-size: 34px;
      line-height: 48px;
      letter-spacing: -0.013em;
      color: #30C3B1;
      margin-left: 8px;
    }
  }

  .btn {
    width: 280px;
    height: 80px;
    background: #30C3B1;
    border: 1px solid #30C3B1;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.0025em;
    color: #FFFFFF;
  }
}

.remark {
  width: 100%;
  background: #FFFFFF;
  border-radius: 40px;
  padding: 48px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
  }

  &__content {
    margin-left: 24px;
    flex-grow: 1;

    input {
      text-align: right;
      width: 100%;
    }
  }
}
