.header {
  background-color: #fff;
  padding: 24px;
}

.banner {
  display: block;
  width: 100%;
  height: 512px;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.price {
  &__number {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #30C3B1;
  }

  &__count {
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.006em;
    color: #999999;
  }
}

.extra {
  margin-top: 24px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.65);
}

.characteristic {
  margin-top: 24px;
  width: 100%;
  background: linear-gradient(90.49deg, rgba(245, 245, 245, 0.32) 0%, #F5F5F5 100%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    color: #404040;

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

.technological {
  margin-top: 16px;
  background-color: #fff;
  padding: 24px;

  &__title {
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #000000;
  }

  &__process {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.005em;
      color: rgba(0, 0, 0, 0.65);

      .icon {
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
      }
    }
  }

  &__details {
    margin-top: 48px;

    &--title {
      font-size: 30px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.011em;
      color: #000000;
    }

    &--content {
      margin-top: 48px;
      font-size: 26px;
      line-height: 48px;
      text-align: justify;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.actions {
  padding: 24px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  .btn {
    width: 100%;
    height: 80px;
    background: #30C3B1;
    border: 1px solid #30C3B1;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    letter-spacing: -0.0025em;
    color: #FFFFFF;
  }
}
