.record {
  padding: 48px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 40px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .time {
      font-size: 24px;
      line-height: 32px;
      color: #192434;
    }

    .price {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.005em;
      color: rgba(0, 0, 0, 0.45);

      text {
        font-weight: bold;
        font-size: 30px;
        line-height: 48px;
        color: #30C3B1;
      }
    }
  }
}
