.address {
  padding: 48px 24px;
}

.form {
  background-color: #fff;
  padding: 48px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.011em;
    color: #192434;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    &--label {
      width: 160px;
      font-size: 26px;
      line-height: 48px;
      letter-spacing: -0.0025em;
      color: rgba(0, 0, 0, 0.85);
      flex-shrink: 0;
    }

    &--content {
      flex-grow: 1;
      margin-left: 80px;

      .input {
        font-weight: bold;
        font-size: 26px;
        line-height: 48px;
        letter-spacing: -0.0025em;
        color: #000000;

        &__plc {
          font-weight: normal;
          font-size: 26px;
          line-height: 48px;
          letter-spacing: -0.0025em;
          color: rgba(0, 0, 0, 0.45);
        }
      }
    }

    &.other {
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      padding-top: 24px;
    }

    .btn {
      width: 100%;
      height: 80px;
      background: #30C3B1;
      border: 1px solid #30C3B1;
      box-sizing: border-box;
      border-radius: 8px;
      font-weight: bold;
      font-size: 26px;
      line-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -0.0025em;
      color: #FFFFFF;
    }
  }
}
